/* Global app styles */

/* Hero background (gradient with fallback color) */
.hero {
	background-color: #7fc1db; /* fallback */
	background: linear-gradient(175deg, rgba(127, 193, 219, 1) 0%, rgba(177, 196, 184, 1) 50%, rgba(240, 239, 228, 1) 100%);
	padding: 4rem 1rem;
	color: #0b2431;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
